.example-radio-group {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.example-radio-button {
	margin: 5px;
}

mat-form-field {
	margin-right: 10px;
}

.filter-option {
	padding-top: 10px;
}
