<mat-form-field appearance="standard">
	<mat-label>Sort by</mat-label>
	<mat-select [(value)]="sortBy">
		<mat-option [value]="sort.id" *ngFor="let sort of availableSorts">{{ sort.displayName }}</mat-option>
	</mat-select>
</mat-form-field>

<h2>Filters</h2>

<div *ngFor="let filter of availableFilters; let i = index" class="filter-option">
	{{ filter.displayName }} <br />
	<ng-container *ngIf="filter.type === 'number'">
		<mat-form-field appearance="standard">
			<mat-label>Min</mat-label>
			<input matInput [(ngModel)]="filters[i].min" type="number" />
		</mat-form-field>
		<mat-form-field appearance="standard">
			<mat-label>Max</mat-label>
			<input matInput [(ngModel)]="filters[i].max" type="number" />
		</mat-form-field>
	</ng-container>

	<ng-container *ngIf="filter.type === 'date'">
		<mat-form-field appearance="standard">
			<mat-label>Start Date</mat-label>
			<input matInput [(ngModel)]="filters[i].minDate" [matDatepicker]="myDatepickerStart" />
			<mat-datepicker-toggle matSuffix [for]="myDatepickerStart"></mat-datepicker-toggle>
			<mat-datepicker #myDatepickerStart></mat-datepicker>
		</mat-form-field>

		<mat-form-field appearance="standard">
			<mat-label>End Date</mat-label>
			<input matInput [(ngModel)]="filters[i].maxDate" [matDatepicker]="myDatepickerEnd" />
			<mat-datepicker-toggle matSuffix [for]="myDatepickerEnd"></mat-datepicker-toggle>
			<mat-datepicker #myDatepickerEnd></mat-datepicker>
		</mat-form-field>
	</ng-container>

	<ng-container *ngIf="filter.type === 'boolean'">
		<mat-form-field appearance="standard">
			<mat-label>Select</mat-label>
			<mat-select [(ngModel)]="filters[i].min">
				<mat-option value="0">All</mat-option>
				<mat-option value="1">{{ filter.displayName }}</mat-option>
				<mat-option value="2">Not {{ filter.displayName }}</mat-option>
			</mat-select>
		</mat-form-field>
	</ng-container>

	<mat-divider></mat-divider>
</div>

<button class="floating-fab" mat-fab color="primary" (click)="saveFilters()">
	<mat-icon>save</mat-icon>
</button>
