<form>
	<mat-form-field appearance="outline" class="search-box">
		<mat-label>Search</mat-label>
		<input type="search" matInput [(ngModel)]="searchString" name="search-string" />
		<button mat-icon-button matSuffix [disabled]="!searchString" (click)="triggerSearch()">
			<mat-icon matSuffix>search</mat-icon>
		</button>
	</mat-form-field>
</form>

<div class="button-container">
	<button mat-button>
		<mat-icon matSuffix>mic</mat-icon>
		Voice
	</button>
	<button mat-button>
		<mat-icon matSuffix>camera_alt</mat-icon>
		Camera
	</button>
</div>
