<form>
	<mat-form-field appearance="outline" class="search-box">
		<mat-label>Search</mat-label>
		<input
			type="search"
			matInput
			[(ngModel)]="searchString"
			name="search-string"
			#searchInput="matInput"
		/>
		<button mat-icon-button matSuffix [disabled]="!searchString" (click)="triggerSearch()">
			<mat-icon matSuffix>search</mat-icon>
		</button>
	</mat-form-field>
</form>

<div class="button-container">
	<button [color]="voiceButtonColor" mat-button (click)="startListening()">
		<mat-icon matSuffix>mic</mat-icon>
		Voice
	</button>
	<button mat-button (click)="clickRealImgBtn()">
		<mat-icon matSuffix>camera_alt</mat-icon>
		Camera
	</button>
	<input type="file" name="image" id="realImageUpload" (change)="imgPreview()" hidden />
</div>

