<form>
	<mat-form-field appearance="outline" class="search-box">
		<mat-label>Search</mat-label>
		<input
			type="search"
			matInput
			[(ngModel)]="searchString"
			name="search-string"
			#searchInput="matInput"
		/>
		<button mat-icon-button matSuffix [disabled]="!searchString" (click)="triggerSearch()">
			<mat-icon matSuffix>search</mat-icon>
		</button>
	</mat-form-field>
</form>

<div class="button-container">
	<button [color]="voiceButtonColor" mat-button (click)="startListening()">
		<mat-icon matSuffix>mic</mat-icon>
		Voice
	</button>
	<button mat-button (click)="clickRealImgBtn()">
		<mat-icon matSuffix>camera_alt</mat-icon>
		Camera
	</button>
	<input type="file" name="image" id="realImageUpload" (change)="imgPreview()" hidden />
</div>
<!--div [hidden]="cropperHidden">
	<button (click)="crop()">Crop</button>
	<button (click)="left()">Rotate Left</button>
	<button (click)="right()">Rotate right</button>
	<button (click)="flip()">Flip</button>
	<image-cropper
	style="width:512px;"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="false"
    format="png"
    (imageCropped)="imageCropped($event)"
	autoCrop=false;
	#imageCropper
></image-cropper>
	<img [src]="croppedImage" float="right" />
</div-->

<div [hidden]="cropperHidden">
	<button (click)="crop()">Crop</button>
	<button (click)="left()">Rotate Left</button>
	<button (click)="right()">Rotate right</button>
	<button (click)="flipH()">Flip Horizontal</button>
	<button (click)="flipV()">Flip Vertical</button>
	<button (click)="discard()">Discard</button>
	<angular-cropper	
		id="image"
		#angularCropper
		[cropperOptions]="config"
		[imageUrl]="previewURL"
	></angular-cropper>
</div>
