.large {
	font-size: 100px;
	width: fit-content;
	height: fit-content;
}

.center {
	position: absolute;
	top: 60vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #bdbdbd;
	user-select: none;
}

.result-card {
	margin-top: 10px;
}

.date {
	font-size: 14px;
	flex-grow: 1;
	text-align: right;
}

.numbers {
	display: flex;

	div {
		flex-grow: 1;
		text-align: center;

		.num {
			font-size: large;
			font-weight: bold;
		}
	}
}

.card-link {
	text-decoration: none;
}

.avatar {
	width: 40px;
	border-radius: 50%;
}

.no-ans {
	background-color: #5fba7d;
	border-radius: 4px;
	padding: 4px;
	width: fit-content;
	margin: auto;
}

@media screen and (max-height: 400px) {
	.center {
		display: none;
	}
}
