.outlet-container {
	padding-top: 64px;
}

@media (max-width: 599px) {
	.outlet-container {
		padding-top: 56px;
	}
}

.drawer-container {
	height: 100%;
}

.drawer {
	min-width: 200px;
	max-width: 350px;
	width: 60%;
}
