<app-top-bar
	[rightIcon]="topBarFilterIcon"
	(drawerEvent)="drawer.toggle()"
	(toggleFilterEvent)="toggleFilterMenu()"
	#topBar
></app-top-bar>

<mat-drawer-container class="drawer-container outlet-container">
	<mat-drawer class="drawer outlet-container" mode="over" #drawer>
		<mat-nav-list>
			<a routerLink="" routerLinkActive="router-link-active" (click)="drawer.close()" mat-list-item
				>Home</a
			>
			<a
				routerLink="history"
				routerLinkActive="router-link-active"
				(click)="drawer.close()"
				mat-list-item
				>History</a
			>
		</mat-nav-list>
	</mat-drawer>
	<mat-drawer-content>
		<div [ngStyle]="{ display: showFilters ? 'none' : 'block' }" class="container">
			<router-outlet></router-outlet>
		</div>

		<div [ngStyle]="{ display: showFilters ? 'block' : 'none' }">
			<app-filters (toggleFilterEvent)="toggleFilterMenu()"></app-filters>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
